@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins:700|Raleway:700|Shrikhand|Lato:700|Varela+Round');

/*Color Values to Use:
#0cdeb0
#0098e3
#003b40
#006a72
#f1f3f4
#ffffff
*/


/* General Layout */


html, body {
  height: 100%;
  margin: 0;
}

.container-fluid {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.section {
 width:100% !important;
  height: 100% !important;
  color: white;
  position: relative;
}

.teal-section {
  background-color: #006a72;
}

.white-section {
  background-color: #fff;
}

.gray-section {
  background-color: #f1f3f4;
  height: 300%;
}

.dark-turquoise-section {
  background-color:  #003b40;
}

.section-header {
  font-size: 30px;
  text-align: center;
  color: black;
  font-family: 'Shrikhand','Raleway', sans-serif;
  font-weight: 700;
  padding-top: 120px;
  color: #003b40;
}


/* Nav Styles */


.nav {
  background-color: #003b40;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.nav-logo {
  margin: 20px;
  height: 60px;
}

.social-links {
  margin-top: 20px;
  margin-right: 20px;
  float: right;
}

.nav-ul-li {
  color: white;
  font-size: 25px;
  float: left;
  padding: 0px 10px;
  list-style: none;
}

.icon {
  font-size: 30px;
  color: white;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}


/* Section One */


.section-one {
  text-align: center;
}

.section-one-vid {
  margin-top: 3%;
}

.page-title {
  padding-top: 140px;
  font-size: 40px;
  font-family: 'Shrikhand';
}


/* Section Two */


.section-two-text {
  color: #003b40;
  text-align: center;
  font-size: 25px;
  padding: 40% 10% 0% 10%;
  display: block;
  font-family: 'Varela+Round', sans-serif;
  font-style: italic;
}


/* Section Three */


.section-three-text {
 color: #003b40;
 margin-top: -3px;
 font-size: 20px;
 font-family: 'Varela Round', sans-serif;
}

.section-steps {
  padding-top: 5%;
}

.steps {
  margin-top: 10%;
}

.step-img {
  display: none;
}

.step-h3 {
  text-align: center;
  font-size: 25px;
}

.section-step-text {
  font-family: 'Varela Round', sans-serif;
  /*font-weight: 700;*/

  padding: 20px;
  font-size: 15px;
  color: #003b40;
}

.footer-logo {
  width: 300px;
  margin: 0px auto;
  padding-top: 250px;
  display: block;
}

/*Hover Styles*/

.icon:hover {
  color: #18e5f5;
  list-style: none;
  text-decoration: none;
}

/* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

      .icon {
        font-size: 40px;
      }

      .page-title {
        font-size: 50px;
      }

      .section-two-text {
        font-size: 30px;
        padding-top: 23%;
      }

      .section-header {
        font-size: 40px;
      }

      .section-three-text {
        font-size: 30px;
      }

      .section-step-text {
        margin-top: 15px;
      }

      .step-img {
        display: block;
      }

      .step-h3 {
        text-align: left;
        font-size: 20px;
      }

      .section-step-text {
        font-size: 25px;
      }

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

      .section-two-text {
        font-size: 35px;
      }

      .step {
        padding: 7px 0px;
      }

      .section-step-text {
        font-size: 30px;
      }



    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

      .section-two-text {
        font-size: 40px;
        padding-top: 18%;
      }

    }
